
{% extends 'base.html' %}

{% block content %}
    <h1>List of flights!!!</h1>
<form>

</form>
    <table style="border-collapse: collapse; width: 100%;">
    <thead>
      <tr style="background-color: #f2f2f2;">
        <th>Origin City</th>
        <th>Destination City</th>
        <th>Airline</th>
        <th>Depart Date</th>
        <th>Available Seats</th>
         <th>Action</th>
      </tr>
    </thead>
    <tbody>
      {% for flight in flights %}
      <form id="flightForm-{{ flight }}" class="booking" action="/booking", method="POST">
        <tr style="border: 1px solid #ddd;">
          <td style="padding: 8px; text-align: left;">{{ flight.origin_city }}</td>
          <td style="padding: 8px; text-align: left;">{{ flight.destination_city }}</td>
          <td style="padding: 8px; text-align: left;">{{ flight.airline }}</td>
          <td style="padding: 8px; text-align: left;">{{ flight.depart_date }}</td>
          <td style="padding: 8px; text-align: left;">{{ flight.available_seates }}</td>
          <td>
            <input type="hidden" name="origin_city" value="{{flight.origin_city}}"/>
            <input type="hidden" name="destination_city" value="{{flight.destination_city}}"/>
            <input type="hidden" name="airline" value="{{flight.airline}}"/>
            <input type="hidden" name="depart_date" value="{{flight.depart_date}}"/>
            <input type="hidden" name="available_seates" value="{{flight.available_seates}}"/>
            <button type="submit">Book</button>
          </td>
        </tr>
      </form>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
